<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-box/app-box.html">
    <link rel="import" href="login-app.html">
    <link rel="import" href="logout-app.html">
    <link rel="import" href="new-user-app.html">
    <link rel="import" href="view-user-app.html">
    <link rel="import" href="view-account-app.html">
<link rel="import" href="view-movement-app.html">
<link rel="import" href="new-account-app.html">




<dom-module id="bank-app">
  <template>
    <style>

      :host {
         display: block;

       }

       app-header {
    @apply(--layout-horizontal);
  z-index: 1;
  background-color: rgba(0 , 0, 255, 1);
  --app-header-shadow: {
    box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.2);
    height: 20px;
    bottom: -45px;
  };
}
  </style>
    <app-header role="navigation" id="header" condenses reveals>
      <div><h1>Techu Bank Hola {{first_name}}</h1></div>
      <a on-click="_login">login</a>
      <a on-click="_newuser">USER</a>
      <a on-click="_account">account</a>
      <a on-click="_logout">logout</a>
      <a on-click="_newaccount">nueva cuenta</a>
    </app-header>
<div><view-account-app hidden= {{showAccount}}><view-account-app></div>
    <app-box id="box" style="height: 1000px;">



        <iron-pages selected="{{changepage}}" attr-for-selected="page">
          <div page="login" hidden={{!showAccount}}><login-app></login-app></div>
          <div page="prueba"><view-user-app first_name={{first_name}}></view-user-app></div>
          <div page="account"><view-account-app account={{account}} ></view-account-app></div>
          <div page="logout"><logout-app ></logout-app></div>
          <div page="movement" ><view-movement-app></view-movement-app></div>
          <div page="newaccount" ><new-account-app ></new-account-app></div>
      </iron-pages>

</app-box>




  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class BankApp extends Polymer.Element {
      static get is() { return 'bank-app'; }
      static get properties() {
      return {
    changepage:{
          type:String
        },showAccount:{
          type:Boolean,
          value:true
        }
      };


    }

    ready() {
             // Capturamos cualquier pulsación, tanto dentro como fuera de un elemento HTML

             super.ready();
             window.addEventListener('login-event',(e)=>this._loginuserid(e));
               window.addEventListener('show-movement',(e)=>this._showMovementAccount(e));
              
         }


    _login() {
          // This event will be handled by shop-app.
          //      console.log("loginOk");
          this.changepage= "login";
this.showAccount=true;
        }

        _newuser() {
              // This event will be handled by shop-app.
              this.changepage= "prueba";
            }
_account(){
// This event will be handled by shop-app.
this.changepage= "account";
}

_logout(){
// This event will be handled by shop-app.
this.changepage= "logout";
}

_loginuserid(event){
  this.showAccount=false;
  console.log("Pasa ");
}
_showMovementAccount(event){
    console.log("Pasa ");
  this.changepage= "movement";
}

_newaccount(){
    this.changepage= "newaccount";
}

  }

    window.customElements.define(BankApp.is, BankApp);
  </script>
</dom-module>
