<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="bank-input">
  <template>
    <style>

      bank-input {
        display: inline-block;
        margin: 20px 0;
      }

      bank-input > input::-webkit-input-placeholder {
        color: transparent;
      }

      bank-input > input::-moz-placeholder {
        color: transparent;
      }

      bank-input > input:-ms-input-placeholder {
        color: transparent;
      }

      bank-input > input::-ms-input-placeholder {
        color: transparent;
      }

      bank-input > input {
        font-size: 1em;
        font-weight: 300;
        color: var(--app-primary-color);
        border: none;
        padding: 8px 0;
        width: 100%;
        outline: none;
      }

      bank-input > input:invalid {
        /* reset the default style in FF */
        box-shadow: none;
      }

      bank-input > bank-md-decorator {
        display: block;
        height: 1px;
        width: 100%;
        margin: auto;
        border-top: 1px solid #ccc;
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }

      bank-input bank-underline {
        display: block;
        height: 2px;
        width: 100%;
        margin: auto;
        background-color: var(--app-accent-color);
        position: absolute;
        top: -1px;
        left: 0;
        -webkit-transform: scale3d(0, 1, 1);
        transform: scale3d(0, 1, 1);
        transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
      }

      /* input label */
      bank-input > bank-md-decorator > label {
        display: block;
        pointer-events: none;
        opacity: 0.5;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        transition-property: opacity, -webkit-transform;
        transition-property: opacity, transform;
        transition-duration: 0.15s;
        transition-timing-function: ease-out;
        will-change: transform;
        -webkit-transform: translate3d(0px, -1.9em, 0px);
        transform: translate3d(0px, -1.9em, 0px);
      }

      /* Error message */
      bank-input > bank-md-decorator::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 0.65em;
        color: #dd2c00;
        content: attr(error-message);
        display: none;
        white-space: nowrap;
      }

      bank-input > input:focus + bank-md-decorator > bank-underline {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }

      /* Label: valid state */
      bank-input > input:focus + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }

      bank-input > input:optional:not(:placeholder-shown) + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }

      _:-ms-lang(x), bank-input > input + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }

      bank-input > input:optional:-moz-ui-valid + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }

      /* Underline */
      bank-input > input:not(:focus):not(:placeholder-shown):invalid + bank-md-decorator > bank-underline {
        background-color: #dd2c00;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }

      bank-input > input:not(:focus):-moz-ui-invalid:invalid + bank-md-decorator > bank-underline {
        background-color: #dd2c00;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }

      bank-input > input[aria-invalid='true']:not(:valid) + bank-md-decorator > bank-underline {
        background-color: #dd2c00;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
      }

      /* Error message */
      bank-input > input:not(:focus):not(:placeholder-shown):invalid + bank-md-decorator::after {
        display: block;
      }

      bank-input > input:not(:focus):-moz-ui-invalid:invalid + bank-md-decorator::after {
        display: block;
      }

      bank-input > input[aria-invalid='true']:not(:valid) + bank-md-decorator::after {
        display: block;
      }

      /* Error label */
      bank-input > input:not(:focus):not(:placeholder-shown):invalid + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
        color: #dd2c00;
      }

      bank-input > input:not(:focus):-moz-ui-invalid:invalid + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
        color: #dd2c00;
      }

      bank-input > input[aria-invalid='true']:not(:valid) + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
        color: #dd2c00;
      }

      /* Valid label */
      bank-input > input:not(:focus):required:valid + bank-md-decorator > label {
        -webkit-transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        transform: translate3d(0px, -3.4em, 0px) scale(0.8, 0.8);
        opacity: 1;
      }

    </style>
  </template>
</dom-module>
