<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="login-2app.html">




<dom-module id="bank-2app">
  <template>
    <style>

      :host {
         display: block;

       }


  </style>

  <app-location route="{{route}}"></app-location>
  <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>
<a on-click="_LOGIN">Login</a>
  <iron-pages role="main" selected="[[page]]" attr-for-selected="name" selected-attribute="visible" fallback-selection="404" >
    <!-- home view -->
    <login-2app name="login"></login-2app>
    <new-user-app name = "home"></new-user-app>
    <view-404 name="404"></view-404>
    </iron-pages>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */


    class Bank2App extends Polymer.Element {
      static get is() { return 'bank-2app'; }
      static get properties() {
      return {
        page: {
              type: String,

              observer: '_pageChanged'
            }

        }
      }

      static get observers() { return [
      '_routePageChanged(routeData.page)'
      ]}





        _routePageChanged(page) {
console.log(page);

            this.page = page || 'login-2app';

            // Close the drawer - in case the *route* change came from a link in the drawer.

          }


          _pageChanged(page, oldPage) {
            console.log("Pasa "+page);

              }

_LOGIN(){
  this.page ="home";
}



}

    window.customElements.define(Bank2App.is, Bank2App);
  </script>
</dom-module>
