<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="bank-button.html">
<link rel="import" href="bank-common-style.html">
<link rel="import" href="bank-form-style.html">
<link rel="import" href="bank-input.html">
<link rel="import" href="new-user-app.html">



<dom-module id="login-app">
  <template>
    <style include="bank-common-styles bank-button bank-form-styles bank-input">

      .main-frame {
        transition: opacity 0.5s;
      }

      .card {
          background: #FFFFFF;
          max-width: 400px;
          padding: 24px;
          margin: 0 auto;
      }
      paper-button.indigo {
      background-color: var(--paper-indigo-500);
      color: white;
      --paper-button-raised-keyboard-focus: {
        background-color: var(--paper-pink-a200) !important;
        color: white !important;
        };
      }
  </style>
<iron-pages selected="{{changepage}}" attr-for-selected="page" >

        <paper-material class="card" elevation="2" page="login" >
          <div page="init" class="main-frame" >

              <div class="row input-row">
                <bank-input>
                      <input type="email" id="accountEmail" name="accountEmail"
                          placeholder="Email" autofocus required
                          aria-labelledby="accountEmailLabel accountInfoHeading" value="{{email::input}}"></input>
                      <bank-md-decorator error-message="Invalid Email" aria-hidden="true">
                        <label id="accountEmailLabel">Email</label>
                        <bank-underline></bank-underline>
                      </bank-md-decorator>
                </bank-input>
              </div>

              <div class="row input-row">
                <bank-input>
                      <input type="password" id="accountpassword" name="accountpassword"
                          placeholder="password" autofocus required
                          aria-labelledby="accountpasswordlLabel " value = "{{password::input}}"></input>
                      <bank-md-decorator error-message="Invalid Email" aria-hidden="true">
                        <label id="accountpasswordLabel">Password</label>
                        <bank-underline></bank-underline>
                      </bank-md-decorator>
                </bank-input>
                    </div>
              <paper-button class="indigo" raised on-click="_login">Login<paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite></paper-button>
            <a on-click="_newuser">nuevo usuario</a>




          </div>
        </paper-material>


          <new-user-app page= "newUser"></new-user-app>

        </iron-pages>

        <iron-ajax
            id="doLogin"
            url="http://localhost:3000/practitioner/v1/login"
            handle-as="json"
            content-type="application/json"
            method="POST"
            on-response="manageAJAXResponse"
            on-error="showError"
            loading="{{waiting}}">




  </template>
  <script>

    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
      return {
          email: {
          type: String
        }, password: {
          type: String
        },isLogged:{
          type: Boolean,
          value:false
        },idusuario:{
          type: Number
        },changepage:{
        type:String,
        value:"login"
      }

      };

    }





    manageAJAXResponse(data){

        this.isLogged = true;
        //this.set ('idusuario',data.detail.response.idUsuario);
        this.dispatchEvent(
          new CustomEvent("login-event",{bubbles: true, composed: true,
            detail:{"userid" :data.detail.response.idUsuario
                    }
                  }

          )
        );

    }
      _login(){

          console.log("enviamos peti");
          var loginData={
            "email" : this.email,
            "password" : this.password
          };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();

      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      _newuser(event){

          this.changepage="newUser";
        }

}
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
