<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="new-user-app.html">



<dom-module id="logout-app">
  <template>
    <style include="bank-common-styles bank-button bank-form-styles bank-input">

      .main-frame {
        transition: opacity 0.5s;
      }

      .card {
          background: #FFFFFF;
          max-width: 400px;
          padding: 24px;
          margin: 0 auto;
      }
      paper-button.indigo {
      background-color: var(--paper-indigo-500);
      color: white;
      --paper-button-raised-keyboard-focus: {
        background-color: var(--paper-pink-a200) !important;
        color: white !important;
        };
      }
  </style>
<iron-pages selected="{{changepage}}" attr-for-selected="page" >

        <paper-material class="card" elevation="2" page="login" >
          <div page="init" class="main-frame" >
            <div class="row input-row">
              <h2>¿Desea salir?</h2>
            </div>
            <div class="row input-row">
              <paper-button class="indigo" raised on-click="_logout">Aceptar</paper-button>
              <paper-button class="indigo" raised on-click="_cancel">Cancelar</paper-button>
            </div>
          </div>
        </paper-material>


          <new-user-app page= "newUser"></new-user-app>

        </iron-pages>

        <iron-ajax
            id="doLogin"
            url="http://localhost:3000/practitioner/v1/logout:{{id}}"
            handle-as="json"
            content-type="application/json"
            method="POST"
            on-response="manageAJAXResponse"
            on-error="showError"
            loading="{{waiting}}">




  </template>
  <script>

    class LogoutApp extends Polymer.Element {
      static get is() { return 'logout-app'; }
      static get properties() {
      return {
          email: {
          type: String
        }, password: {
          type: String
        },isLogged:{
          type: Boolean,
          value:false
        },idusuario:{
          type: Number
        },changepage:{
        type:String,
        value:"login"
      }

      };

    }





    manageAJAXResponse(data){

        this.isLogged = true;
        //this.set ('idusuario',data.detail.response.idUsuario);
        this.dispatchEvent(
          new CustomEvent("login-event",{bubbles: true, composed: true,
            detail:{"userid" :data.detail.response.idUsuario
                    }
                  }

          )
        );

    }
      _login(){

          console.log("enviamos peti");
          var loginData={
            "email" : this.email,
            "password" : this.password
          };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();

      }

      showError(error){
        console.log("Hubo un error");
        console.log(error);
      }

      _newuser(event){

          this.changepage="newUser";
        }

}
    window.customElements.define(LogoutApp.is, LogoutApp);
  </script>
</dom-module>
