<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<dom-module id="new-account-app">
  <template>
    <style>
      :host {
        display: block;
      }

      .card {
          background: #FFFFFF;
          max-width: 400px;
          padding: 24px;
          margin: 0 auto;
      }


    </style>
      <paper-material class="card" elevation="2" page="new-account" >
        <div page="init" class="main-frame" >
            <div class="row input-row">
              <paper-input always-float-label label="Pais" type ="Pais" autofocus required value="{{country::input}}"
               errorMessage= "">
              </paper-input>
            </div>
            <div class="row input-row">
              <paper-input always-float-label label="Moneda" type ="Moneda" autofocus required value="{{currency::input}}"
               errorMessage= "">
              </paper-input>
            </div>


            <paper-button class="indigo" raised on-click="_newAcount">Crear<paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite></paper-button>

          </div>

      </paper-material>
      <iron-ajax
          id="doCreate"
          url="http://localhost:3000/practitioner/v1/account"
          handle-as="json"
          content-type="application/json"
          method="POST"
          on-response="manageAJAXResponse"
          on-error="showError"
          loading="{{waiting}}">


  </template>

  <script>
    /**
     * `new-user-app`
     * Nuevo usuario del banco
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class NewAccountApp extends Polymer.Element {
      static get is() { return 'new-account-app'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }
        };
      }
      ready() {
               // Capturamos cualquier pulsación, tanto dentro como fuera de un elemento HTML

               super.ready();
               window.addEventListener('login-event',(e)=>this._loginuserid(e));

           }


      _newAcount(){
        console.log("guardar");
        console.log(this.country);
        console.log(this.currency);
        console.log(this.userid);
        var accountData={
          "country" : this.country,
          "currency" : this.currency,
          "userid" : this.userid
        };

        this.$.doCreate.body = JSON.stringify(accountData);
        this.$.doCreate.generateRequest();
      }
      manageAJAXResponse(data){
        this.dispatchEvent(
          new CustomEvent("refresh_accounts",{bubbles: true, composed: true,
            detail:{"userid" :this.userid
                    }
                  }

          )
        );

          }


    _loginuserid(even){
      this.userid= event.detail.userid;
    }
}
    window.customElements.define(NewAccountApp.is, NewAccountApp);
  </script>
</dom-module>
