<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<dom-module id="new-user-app">
  <template>
    <style>
      :host {
        display: block;
      }

      .card {
          background: #FFFFFF;
          max-width: 400px;
          padding: 24px;
          margin: 0 auto;
      }


    </style>
      <paper-material class="card" elevation="2" page="login" >
        <div page="init" class="main-frame" >
            <div class="row input-row">
              <paper-input always-float-label label="Nombre" type ="Name" autofocus required value="{{nombre::input}}"
               errorMessage= "">
              </paper-input>
            </div>
            <div class="row input-row">
              <paper-input always-float-label label="Apellidos" type ="Apellidos" autofocus required value="{{apellidos::input}}"
               errorMessage= "">
              </paper-input>
            </div>
            <div class="row input-row">
              <paper-input always-float-label label="Email" type ="Email" autofocus required auto-validate value="{{email::input}}"
               errorMessage= "">
              </paper-input>
            </div>
            <div class="row input-row">
              <paper-input always-float-label label="Password" type ="password" autofocus required value="{{password::input}}"
               errorMessage= "">
              </paper-input>
            </div>
            <paper-button class="indigo" raised on-click="_save">Guardar<paper-spinner-lite hidden=[[!waiting]] active="[[waiting]]"></paper-spinner-lite></paper-button>

          </div>

      </paper-material>
  </template>

  <script>
    /**
     * `new-user-app`
     * Nuevo usuario del banco
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class NewUserApp extends Polymer.Element {
      static get is() { return 'new-user-app'; }
      static get properties() {
        return {
          data: {
            type: Object,
          }
        };
      }
      _save(){
        console.log("guardar");

      }


    }

    window.customElements.define(NewUserApp.is, NewUserApp);
  </script>
</dom-module>
