<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
  <link rel="import" href="view-account-app.html">

<dom-module id="view-movement-app">
  <template>
    <style>
      .main-frame {
        transition: opacity 0.5s;
      }

      .card {
          background: #FFFFFF;
          max-width: 50%;
          padding: 24px;
          margin: 0 auto;
      }
      paper-button.indigo {
      background-color: var(--paper-indigo-500);
      color: white;
      --paper-button-raised-keyboard-focus: {
        background-color: var(--paper-pink-a200) !important;
        color: white !important;
        };
      }
  </style>



<paper-material class="card" elevation="2" page="movement"  >

      <vaadin-grid items="{{movement}}" page-size="100" hidden="[[cargando]]" >
              <vaadin-grid-column>
                <template class="header">
                  <vaadin-grid-sorter path="cdate">Fecha</vaadin-grid-sorter>
                </template>
                <template><div class$="{{item.topt}}">[[item.cdate]]</div></template>

              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">
                  <vaadin-grid-sorter path="topt">Tipo Movimiento</vaadin-grid-sorter>
                </template>
                <template><div class$="{{item.topt}}">[[item.topt]]</div></template>

              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Importe</template>
                <template >
                  <div class$="{{item.topt}}">[[item.amount]]</div>
                </template>

              </vaadin-grid-column>
              <vaadin-grid-column>
                <template class="header">Concepto</template>
                <template><div class$="{{item.topt}}">[[item.concept]]</div></template>

              </vaadin-grid-column>
      </vaadin-grid>
       <paper-spinner-lite hidden=[[!cargando]] active="[[cargando]]">
</paper-material>
<iron-ajax

    id="getMovement"
    url="http://localhost:3000/practitioner/v1/movement/{{account}}"
    handle-as="json"
    content-type="application/json"
    on-error="showError"
    on-response="showData"
    loading="{{cargando}}">
  </iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewMovementApp extends Polymer.Element {
      static get is() { return 'view-movement-app'; }
      static get properties() {
      return {
        account: {
                type: String,
              },
        movement: {
                 type: Array
               }

      };
    }

    ready() {
             // Capturamos cualquier pulsación, tanto dentro como fuera de un elemento HTML

             super.ready();
             window.addEventListener('show-movement',(e)=>this._showMovementAccount(e));

         }

         showData(data){
          console.log("showData movement"+ data.detail.response);
          this.movement = data.detail.response;
        // this.account = this.movement[0].IBAN;

        }
        _showMovementAccount(event){
          console.log("_showMovementAccount "+ event.detail.IBAN);
          this.account= event.detail.IBAN;
          this.$.getMovement.generateRequest();
        }
  }

    window.customElements.define(ViewMovementApp.is, ViewMovementApp);
  </script>
</dom-module>
