<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="view-account-app.html">
<link rel="import" href="view-movement-app.html">
<dom-module id="view-movement-controller-app">
  <template>
    <style>
      .main-frame {
        transition: opacity 0.5s;
      }

      .card {
          background: #FFFFFF;
          max-width: 50%;
          padding: 24px;
          margin: 0 auto;
      }
      paper-button.indigo {
      background-color: var(--paper-indigo-500);
      color: white;
      --paper-button-raised-keyboard-focus: {
        background-color: var(--paper-pink-a200) !important;
        color: white !important;
        };
      }
  </style>


<view-movement-app></view-movement-app>

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewMovementControllerApp extends Polymer.Element {
      static get is() { return 'view-movement-controller-app'; }
      static get properties() {
      return {
        account: {
                type: String,
              },
        movement: {
                 type: Array
               }

      };
    }



  }

    window.customElements.define(ViewMovementControllerApp.is, ViewMovementControllerApp);
  </script>
</dom-module>
