<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="view-user-app">
  <template>
    <style>

      <style>
        .main-frame {
          transition: opacity 0.5s;
        }

        .card {
            background: #FFFFFF;
            max-width: 400px;
            padding: 24px;
            margin: 0 auto;
        }
        paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
          };
        }
    </style>


  <paper-material class="card" elevation="2" page="login" >
    <div page="init" class="main-frame" >
        <div class="row input-row">
          <h2>"{{first_name}}"</h2>
        </div>
    </div>
  </paper-material>
  <iron-ajax

    id="getUser"
    url="http://localhost:3000/practitioner/v1/user/{{id}}"
    handle-as="json"
    on-response="showData">


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserApp extends Polymer.Element {
      static get is() { return 'view-user-app'; }
      static get properties() {
      return {
        first_name: {
          value:"",
          type: String,
          notify: true
        },
        last_name: {
          value:"",
          type: String
        },
        email: {
          value:"",
          type: String
        },  id: {
            type: Number}
      };
    }
    showData(data){

      this.first_name = data.detail.response.first_name;
      this.last_name = data.detail.response.last_name;
      this.email = data.detail.response.email;
    }
    ready() {
             // Capturamos cualquier pulsación, tanto dentro como fuera de un elemento HTML
            
             super.ready();
             window.addEventListener('login-event',(e)=>this._loginuserid(e));
         }
     _loginuserid(event){
          console.log("cambia el login"+event.detail.userid);
          this.id= event.detail.userid;
          this.$.getUser.generateRequest();
   }
  }

    window.customElements.define(UserApp.is, UserApp);
  </script>
</dom-module>
