<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="view-movement-app.html">


<dom-module id="view-account-app">
  <template>
    <style>
      <style>
        .main-frame {
          transition: opacity 0.5s;
        }

        .card {
            background: #FFFFFF;
            max-width: 50%;
            padding: 24px;
            margin: 0 auto;
        }
        paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
          };
        }
    </style>

      <iron-ajax

        id="getAccount"
        url="http://localhost:3000/practitioner/v1/account/{{id}}"
        handle-as="json"
        on-response="showData"
        loading="{{waiting}}"
        >
      </iron-ajax>
  <iron-pages selected="{{changepage}}" attr-for-selected="page" >
    <paper-material class="card" elevation="2" page="account" >
      <paper-radio-group id="accountradio" selected="{{accountsel}}" >
            <template is="dom-repeat" items="{{account}}">
                <paper-radio-button name="{{item.IBAN}}">{{item.IBAN}}</paper-radio-button>
            </template>
        </paper-radio-group>
    </paper-material>
    <div page="movement"><view-movement-app ></view-movement-app></div>

  </iron-pages>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewAccountApp extends Polymer.Element {
      static get is() { return 'view-account-app'; }
      static get properties() {
      return {
        id: {
                type: Number,
              value:0},
        account: {
                 type: Array,
                 value: function(){
                         return [];
               }
             },
        accountsel:{
          type: String,
notify: true,
        observer: 'accountSelected'

      },changepage:{
          type:String,
          value:"account",
          notify: true

        }
      };
    }
    accountSelected(newVal, oldVal) {
      console.log(newVal);
      this.dispatchEvent(
        new CustomEvent("show-movement",{bubbles: true, composed: true,
          detail:{"IBAN" :newVal
                  }
                }

        )
      )
        }

    ready() {
             // Capturamos cualquier pulsación, tanto dentro como fuera de un elemento HTML

             super.ready();
             window.addEventListener('login-event',(e)=>this._loginuserid(e));
              window.addEventListener('refresh_accounts',(e)=>this._loginuserid(e));
         }
     _loginuserid(event){
          console.log("cambia el login"+event.detail.userid);
          this.id= event.detail.userid;
          this.$.getAccount.generateRequest();

   }
   showData(data){
           console.log("showData account");

           this.account = data.detail.response;

   }



  }

    window.customElements.define(ViewAccountApp.is, ViewAccountApp);
  </script>
</dom-module>
